<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Clientes Orion</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3">Incluir Cliente</a>
    <h1>Pessoas</h1>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>CPF</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customersList}">
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.telefone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.cpf}"></td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>